/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;900&display=swap");

/* Basic Setup */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.game-container {
  width: 1020px;
  height: 900px;
  margin: 100px auto;
  display: flex;
}
.container {
  display: grid;
  grid-template-rows: repeat(3, 10vw);
  grid-template-columns: repeat(3, 10vw);
}
.box {
  border: 3px solid gainsboro;
  font-size: 8vw;
  text-align: center;
  transition: 0.3s ease-in;
  color: tomato;
}

.box:hover {
  background-color: rgba(137, 43, 226, 0.158);
}

.box-disable {
  pointer-events: none;
}

.game-info {
  padding: 20px;
}

.hidden {
  display: none;
}

.br-0 {
  border-right: 0;
}
.bl-0 {
  border-left: 0;
}
.bt-0 {
  border-top: 0;
}
.bb-0 {
  border-bottom: 0;
}

.reset {
  border: 0;
  padding: 10px 30px;
  background-color: tomato;
  font-weight: 700;
  color: white;
  border-radius: 30px;
  font-size: 16px;
  margin: 20px 0;
}
.img-box {
  width: 400px;
  height: 300px;
}
.img-box img {
  width: 100%;
}

@media only screen and (max-width: 428px) {
  .game-container {
    flex-direction: column;
    margin: 20px;
  }
  .container {
    margin: 20px;
  }
  .heading {
    font-size: 16px;
  }
  .reset {
    padding: 7px 25px;
    border-radius: 15px;
    font-size: 14px;
  }
  .img-box img {
    width: 70%;
  }
}
